.jumbotron {
		background: url(../images/train_banner.jpg);
		background-repeat:no-repeat;
    background-size:cover;
}

html {
		background: url("../images/train_background.jpg");
		background-repeat:no-repeat;
    background-size:cover;
}

body {
	background-color: transparent;
}

#banner{
	color: white;
	font-family: 'Racing Sans One', cursive;
}

.panel-heading{
	text-align: center;
	font-family: 'Racing Sans One', cursive;
	font-size: 30px;
}

#train-table {
	font-family: 'Limelight', cursive;
}

#train-input {
	font-family: 'Limelight', cursive;
}